[submodule "csrc/catlass"]
	path = csrc/catlass
	url = https://gitcode.com/cann/catlass.git
	tag = v1.3.1-notla
[submodule "csrc_AscendC950/catlass"]
	path = csrc_AscendC950/catlass
	url = https://gitcode.com/lccchh/catlass-dev-FA.git
	branch = main
